[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bfast"]
	path = bfast
	url = https://github.com/bfast2/bfast
[submodule "strucchangeRcpp"]
	path = strucchangeRcpp
	url = https://github.com/bfast2/strucchangercpp
